//                           -- Style Rule --
// === CSS ruleset
.button {                 // CSS Selector
  padding: 3px 10px;      // CSS Declarations
  font-size: 12px;
  border-radius: 3px;
  border: 1px solid #e1e4e8;
}


//                        -- Nesting --
