@use "partialTwo.scss";     // Required to add as first line
@import "partialscss";

body {
  background-color: $primary-color;
}

h1 {
  color: $secondary-color;
}

p {
  font-size: $font-size;
}

h2 {
  // Required to pass the partial file name
  color: partialTwo.$third-color;
}
