@import "partialscss";
@use "partialTwo";

body {
  background-color: $primary-color;
}

h1 {
  color: $secondary-color;
}

p {
  font-size: $font-size;
}

h2 {
  // TODO: Check why it's NOT necessary to import
  color: $third-color;
}
