// 1. Grouping CSS declarations
@mixin theme($theme: DarkGray) {          // 1.3 Variable can be passed with a DarkGray as default one
  // 1.2 avoid using non-semantic classes   -- naming semantic, to be reusable --

  // CSS declarations grouped
  background: $theme;
  box-shadow: 0 0 1px rgba($theme, .25);
  color: #fff;

  // 2. Syntax
  // 2.1 top-level statements NOT allowed       -- Uncomment next lines
  /*@use "sass:math";
  @import "mixin.css";*/
}

// 1.4 Mixins can be nested
@mixin theme-extra {
  @include theme;

  li {
    display: inline-block;
    margin: {
      left: -2px;
      right: 2em;
    }
  }
}


// 2.2 mixinName non-sensitive to `-` or `_`
@mixin theme_extra {          // Check in the .css generated, that we are overwriting the theme-extra
  a {
    font-size: 16px;
  }
}

// 3. Use a mixin
.info {
  @include theme-extra;         // 1.1 reusable
}
.alert {
  @include theme($theme: DarkRed);        // 1.1 reusable
}
.success {
  @include theme($theme: DarkGreen);      // 1.1 reusable
}
